body {
  background-color: #141414;
}

.container {
  color: white;
  background-color: #0d0c0c;
  width: 40%;
  height: 80%;
  margin:auto;
  margin-top: 200px;
}

img{
  height: 60px;
  padding: 30px 230px 30px 230px;
}

label {
  display: flex;
  padding-left: 70px;
}

input {
  width: 80%;
  height: 35px;
  margin: 5px 0px 5px 70px;
  background-color: #0d0c0c;
  border: 1px solid white;
}
