body {
  background-color: #eee;
  font-family: 'Lato', sans-serif;
}

img {
  height: 40px;
  width: 300px;
  display: inline-block;
  vertical-align: top;
}

a {
  color: #626663;
  text-decoration: none; /*not underlined*/
  display: inline-block;
  vertical-align: text-top;
  text-align: right;
  padding-left: 50px;
  margin-right: 50px;
}

nav {
  text-align: right;
}

.submit {
  text-align: center;
}

input {
  width: 200px;
  height: 25px;
}

button {
  background-color: orange;
}
#get_started {
  margin-top: 10px;
  width: 150px;
  height: 25px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
}

iframe {
  padding-top: 50px;
}
